* {
    outline: 0px;
    background-color: #f3f3f3;
}
QProgressBar
{
    background-color: #DDDDDD;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #427683;
    border-radius: 1px;
}

QLineEdit{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
    padding-left: 5px;
    font-weight: bold;
    color: #242424;
}
QLineEdit:hover{
    background-color: rgba(255,255,255,0);
}
QLineEdit[placeholderText] {
    color: #4B4B4B;
    font-weight: normal;
}
QToolButton{
    background-color: rgba(255,255,255,0);
    border-radius: 6px;
    border: 1px solid gray;
}
QHeaderView                     /*QTableWidget 标题头整个区域*/
{
    background-color:transparent;
}
QHeaderView::section{
    border: 1px solid gray;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #CBEDFD,stop:0.8 #EBF8FD,stop:1 #FAFDFF);
    color:rgb(0, 64, 94);
}

QTableWidget{
    color:#DCDCDC;
    background-color:#444444;
    border:1px solid #242424;
    alternate-background-color:#525252;
    gridline-color:#242424;
}

QTableWidget::item:selected{
    color:#DCDCDC;
    background-color:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #484848,stop:1 #383838);
}

QTableWidget::item:hover{
    background-color:#5B5B5B;
}
QScrollBar:horizontal {
    max-height: 20px;
    border: 1px transparent grey;
    margin: 0px 20px 0px 20px;
}
QScrollBar:vertical {
    max-width: 20px;
    border: 1px transparent grey;
    margin: 20px 0px 20px 0px;
}
QScrollBar::handle:horizontal {
    background: rgb(253,253,253);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207,207,207);
    border-radius: 7px;
    min-width: 25px;
}
QScrollBar::handle:horizontal:hover {
    background: rgb(253,253,253);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(147, 200, 200);
    border-radius: 7px;
    min-width: 25px;
}
QScrollBar::handle:vertical {
    background: #9999FF;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207,207,207);
    border-radius: 7px;
    min-height: 25px;
}
QScrollBar::handle:vertical:hover {
    background: #6699FF;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(147, 200, 200);
    border-radius: 7px;
    min-height: 25px;
}
QScrollBar::add-line:horizontal {
    border: 2px transparent grey;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(34, 142, 255, 255);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal:pressed {
    border: 2px transparent grey;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgb(181,181,181);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
    border: 2px transparent grey;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(34, 142, 255, 255);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:pressed {
    border: 2px transparent grey;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgb(181,181,181);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
    border: 2px transparent grey;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: rgba(34, 142, 255, 255);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal:pressed {
    border: 2px transparent grey;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: rgb(181,181,181);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: 2px transparent grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgba(34, 142, 255, 255);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:pressed {
    border: 2px transparent grey;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgb(181,181,181);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::left-arrow:horizontal {
    border: 1px transparent grey;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 6px;
    height: 6px;
    background: white;
}
QScrollBar::right-arrow:horizontal {
    border: 1px transparent grey;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 6px;
    height: 6px;
    background: white;
}
QScrollBar::up-arrow:vertical {
    border: 1px transparent grey;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 6px;
    height: 6px;
    background: white;
}
QScrollBar::down-arrow:vertical {
    border: 1px transparent grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 6px;
    height: 6px;
    background: white;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}