QProgressBar
{
    background-color: #DDDDDD;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #427683;
    border-radius: 1px;
}

QLineEdit{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255,255,255,0);
    padding-left: 5px;
    font-weight: bold;
    color: #242424;
}
QLineEdit:hover{
    background-color: rgba(255,255,255,0);
}
QLineEdit[placeholderText] {
    color: #4B4B4B;
    font-weight: normal;
}
QToolButton{
    background-color: rgba(255,255,255,0);
    border-radius: 6px;
    border: 1px solid gray;
}